#php_value register_globals Off
#php_value magic_quotes_gpc On

ErrorDocument 404 /404.php
RewriteEngine On 
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule (.*) http://www\.%{HTTP_HOST}/$1 [R=301,L]

RewriteRule ^cart\.html  cart.php [L]
RewriteRule ^sitemap\.xml  sitemap.php [L]

RewriteRule ^([0-9a-zA-Z_-]+)\.html$  index.php/$1 [L]
RewriteRule ^([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)?$  index.php/$1 [L]
RewriteRule ^([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)\.html$  index.php/$1 [L]
